RewriteEngine On

RewriteRule ^face/resource/(.*)$ /php-lod/phpJson2Rdf.php?url=http://graph.facebook.com/$1&url_config=http://lod-apps.googlecode.com/svn/trunk/php-lod/demo/json2rdf_config_face.js&output=rdfxml&smart_parse=on&uri_sample=http://onto.rpi.edu/php-lod/demo/face/resource/$1#me  [R=301,L,QSA]